
@{
    ViewBag.Title = "SvgExample";
}

<h2>SvgExample</h2>

<div>
    <svg class="svg-phone-width" height="50">
        <text class="svg-call-text" transform="rotate(-20 20,80)">Call</text>
        <text class="svg-phone-number">00000 000 000</text>
        Your browser does not support SVG.
    </svg>
</div>

