body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/*SVG CSS*/
svg-phone-width {
    width: 500px;
}
.svg-call-text {
    fill: red;
    font-size: 18px;
    stroke: black;
    stroke-width: 1px;
    font-family: 'Black Han Sans', sans-serif;
    transform: matrix(1,-0.3,0,1,5,40);
}
.svg-phone-number {
    fill: #d6a82e;
    stroke: black;
    stroke-width: 1px;
    font-size: 30px;
    font-family: 'Black Han Sans', sans-serif;
    transform: translate(50px,35px);
}
